<a [routerLink]="'createBook'" class="btn btn-success" > Thêm sách mới</a><br>
<router-outlet></router-outlet>
<p>có {{bookList.length}} cuốn sách mới</p>
<div>
  <table class="table table-bordered">
    <tr>
      <th># Title</th>
      <th># Edit</th>
      <th># Delete</th>
    </tr>
    <tr *ngFor="let book of bookList">
      <td><a [routerLink]="['viewBook',book.id]">{{book.title}}</a></td>
      <td><a [routerLink]="['editBlog',book.id]">edit</a></td>
      <td><a [routerLink]="['deleteBlog',book.id]">Delete</a></td>
    </tr>
  </table>
</div>
