<h3>Cập Nhật Sách</h3>
<div *ngIf="message">
  <p style="color: red">{{ message }}</p>
</div>
<form #bookForm="ngForm" (ngSubmit)="editBook(bookForm)">
  <table>
    <div class="form-group">
      <label>
        <input type="hidden" [(ngModel)]="book.id" name="id" ngModel class="form-control"/>
      </label>
    </div>

    <tr class="form-group">
      <th>
        <label>Title:</label>
      </th>
      <td>
        <label>
          <input type="text" [(ngModel)]="book.title" name="title" ngModel class="form-control"/>
        </label>
      </td>
    </tr>
    <tr class="form-group">
      <th>
        <label>Author:</label>
      </th>
      <td>
        <label>
          <input type="text" [(ngModel)]="book.author" name="author" ngModel class="form-control"/>
        </label>
      </td>
    </tr>
    <tr class="form-group">
      <th>
        <label>Description:</label>
      </th>
      <td>
        <label>
        <textarea type="text" [(ngModel)]="book.description" name="description" ngModel class="form-control"></textarea>
      </label>
      </td>
    </tr>
  </table>
  <div>
    <button type="submit" class="btn btn-success" style="margin-left: 100px">Cập Nhật</button>
  </div>
</form>
